<section class="vh-100" style="background-color: #eee;">
  <div class="p-5 bg-image" style="          
          background: #0d6efd;
          height: 100px;
          text-align: right;
          color: white;
          ">
          <a (click)="onLogout()"><i class="fas fa-sign-out-alt"></i> Log out</a>          
  </div>
    <div class="container py-5 h-100">
      
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-12 col-xl-10">
  
          <div class="card">
            <div class="card-header p-3">
              <h5 class="mb-0"><i class="fas fa-tasks me-2"></i>Task List</h5>
            </div>
            <div class="card-body" data-mdb-perfect-scrollbar="true" style="overflow: auto; position: relative; height: 400px">
              <table class="table mb-0"> 
                <thead>
                  <tr>
                    <th scope="col">Titre</th>
                    <th scope="col">Description</th>                    
                    <th scope="col">Scheduled at</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="fw-normal" *ngFor="let task of tasks">
                    <th>                      
                      <span class="ms-2">{{task.title}}</span>
                    </th>
                    <td class="align-middle">
                      <span>{{task.description}}</span>
                    </td>
                    <td class="align-middle">
                      <h6 class="mb-0"><span class="badge bg-success">{{task.scheduledTaskDate | date : 'short'}}</span></h6>
                    </td>
                    <td class="align-middle">
                        <a (click)="onEditTask(task)" routerLink="./task-edit" data-mdb-toggle="tooltip" title="Edit"><i
                            class="fas fa-edit text-success me-3"></i></a>
                            
                        <a (click)="onDeleteTask(task)" data-mdb-toggle="tooltip" title="Remove"><i
                            class="fas fa-trash-alt text-danger"></i></a>
                      </td>
                  </tr>                
                </tbody>
              </table>
            </div>
            <div class="card-footer text-end p-3">                
                <button (click)="onAddTask()" class="btn btn-primary">Add Task</button>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>